.project-container {
  width: 75%;
  margin: 0 auto;
}

.project-heading {
  font-size: 60px;
  font-family: var(--font-primary);

  color: var(--primary-text);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.project-list > * {
  margin: 30px;
  margin-left: 0px;
}
