body {
  margin: 0;
  background-color: var(--primary);
}

:root {
  --primary: #192824;
  --secondary: #22d2a0;
  --tertiary: #773bb8;
  --primary-text: white;
  --header-background: #333;
  --font-primary: 'Archivo Black', 'Archivo', sans-serif;
}
